<section class='bounty-comments'>
    <h1 class="bounty-header">Further information concerning the bounty on "{{bounties.name}}"</h1>
    <div class="bounties-list">
        <div class="each-bounty">
            <p>WANTED</p>
            <img src="{{bounties.picture}}" alt="">
            <ul>
                <li>Name: {{bounties.name}} </li>
                <li>Wanted For: {{bounties.crimes}} </li>
                <li>Status: {{bounties.status}} </li>
                <li>Reward: ${{bounties.bounty}} </li>
                <li>Other information: {{bounties.furtherinfo}} </li>
            </ul>
        </div>
    </div> <br>
    <form class="post-comment-form" action="/addComment" method="POST">
        <textarea rows = "5" cols = "60" class="text-input-bounty" name="comment" placeholder="Enter comment here"></textarea>
        <input class="submit-bounty" type="submit" value="Submit">
    </form>
    {{#each messages}}
    <div class="message-div">
        <p class="username">{{this.username}}</p>
        <p class="time">{{this.dateposted}}</p>
        <p class="message-itself">{{this.message}}</p>
    </div>
    {{/each}}
</section>