<section class='bounty-comments'>
    <h1>Further info for the bounty on {{bounties.name}}</h1>
    <div class="bounties-list">
        <div class="each-bounty">
            <p>WANTED</p>
            <img src="/img/ugly.jpeg" alt="">
            <img src="../src/images/ugly.jpeg" alt="">
            <ul>
                <li> {{bounties.name}} </li>
                <li> {{bounties.crimes}} </li>
                <li> {{bounties.status}} </li>
                <li> {{bounties.bounty}} </li>
                <li> {{bounties.furtherinfo}} </li>
            </ul>
            <a href="/bounty/{{bounties.id}}">Click here for more detail</a>
        </div>
    </div> <br>
    <form class="post-comment-form" action="/addComment" method="POST">
        <input type="text" name="comment" placeholder="Enter comment here">
        <input type="submit" value="Submit">
    </form>
    {{#each messages}}
    <div class="message-div">
        <p class="username">{{../username}}</p>
        <p class="time">{{this.dateposted}}</p>
        <p class="message-itself">{{this.message}}</p>
    </div>
    {{/each}}
</section>