<section class='bounty-comments'>
    <h1 class="bounty-header">Further information concerning the bounty on "{{bounties.name}}"</h1>
    <div class="bounties-list">
        <div class="each-bounty">
            <p class="wanted">WANTED</p>
            <img src="{{bounties.picture}}" alt="">
            <ul>
                <li><b>Name:</b> {{bounties.name}} </li>
                <li><b>Wanted For:</b> {{bounties.crimes}}</li>
                <li><b>Status: </b>{{bounties.status}} </li>
                <li><b>Reward:</b> ${{bounties.bounty}} </li>
                <li><b>Other information: </b>{{bounties.furtherinfo}} </li>
            </ul>
        </div>
    </div> <br>
    <form class="post-comment-form" action="/addComment" method="POST">
        <textarea rows="5" cols="60" class="text-input-bounty" name="comment"
            placeholder="Enter comment here"></textarea>
        <input class="submit-bounty" type="submit" value="Submit">
    </form>


    {{#each messages}}
    <div class="message-div">
        <p class="username">{{this.username}}</p>
                {{#if ../admin}}
        <form class="delete-form message-delete" action="/deletemessage/{{this.id}}" method="post">
            <button>Delete</button>
        </form>
        {{/if}}
        <p class="time">{{helpers this.dateposted}}</p>
        <p class="message-itself">{{this.message}}</p>
    </div>
    {{/each}}
</section>