<section class="user-info">
    {{#if signedIn}}
    <section class="bounties">
        <div class="bounties-list">
            {{#each bounties}}
            <div class="each-bounty">
                <p>WANTED</p>
            <img src="{{this.picture}}" alt="bounty photo">
            <ul>
                <li>Name:  {{this.name}} </li>
                <li>Wanted For: {{this.crimes}} </li>
                <li>Status: {{this.status}} </li>
                <li>Reward: {{this.bounty}} </li>
                <li>Other information: {{this.furtherinfo}} </li>
            </ul>
            <a href="/bounty/{{this.id}}">Click here for more detail</a>
            </div>
            <div>
                {{#if ../admin}}
            <form class="delete-form" action="/deletebounty/{{this.id}}" method="post">
                <button>Delete</button>
            </form>
            {{/if}}
            </div>
            {{/each}}
        </div>
    </section>
    <br>
    {{else}}
    {{> welcome}}
    <h1>You are logged out</h1>
    {{/if}}
</section>