<section class="user-info">
    {{#if signedIn}}
    <section class="bounties">
        <div class="bounties-list">
            {{#each bounties}}
            <div class="each-bounty">
                <p>WANTED</p>
            <img src="{{this.picture}}" alt="bounty photo">
            <ul>
                <li>Name:  {{this.name}} </li>
                <li>Wanted For: {{this.crimes}} </li>
                <li>Status: {{this.status}} </li>
                <li>Reward: {{this.bounty}} </li>
                <li>Other information: {{this.furtherinfo}} </li>
                {{#if ../admin}}
                <li>
            <form class="delete-form" action="/deletebounty/{{this.id}}" method="post">
                <button>Delete</button>
            </form>
            </li>
            {{/if}}
            <li>
                <a href="/bounty/{{this.id}}" class="details_ref">Click here for more detail</a>
            </li>
            </ul>
            
            </div>
            
            {{/each}}
        </div>
    </section>
    <br>
    {{else}}
    {{> welcome}}
    {{/if}}
</section>