<section class="user-info">
    {{#if signedIn}}
    <section class="bounties">
        <div class="bounties-list">
            {{#each bounties}}
            <div class="each-bounty">
                <p>WANTED</p>
                <img src="{{this.picture}}" alt="bounty photo">
                <ul>
                    <li><b>Name:</b> {{this.name}} </li>
                    <li><b>Wanted For:</b> {{this.crimes}} </li>
                    <li><b>Status:</b> {{this.status}} </li>
                    <li><b>Reward:</b> ${{this.bounty}} </li>
                    <li><b>Other information:</b> {{this.furtherinfo}} </li>
                </ul>
                {{#if ../admin}}
                <form class="delete-form" action="/deletebounty/{{this.id}}" method="post">
                    <button>Delete</button>
                </form>
                {{/if}}
                <a href="/bounty/{{this.id}}" class="details_ref">Click here for more detail</a>
            </div>

            {{/each}}
        </div>
    </section>
    <br>
    {{else}}
    {{> welcome}}
    {{/if}}
</section>